<section class="footer">
    <div class="footer-top">
        <div class="footer-top__title-wrapper">
            <span class="footer-top__info-pre-title fs-18 fw-400">актуально</span>
            <span class="fs-26 fw-800 line-height-120">Получайте полезные рассылки о путешествиях</span>
        </div>

        <div class="footer-top__right">
            <div class="form-wrapper">
                <form id="emailForm" class="footer-top__subscribe">
                    <label class="fs-16 fw-600" for="email-input">Введите e-mail адрес</label>
                    <input name="email-input" placeholder="name@domain.com" id="email-input" type="email" required>
                </form>
                <button type="submit" form="emailForm" class="subscribe-btn fs-16 fw-600">Подписаться на
                    новости</button>
            </div>

            <p class="conditions fs-14 fw-600">подписываясь на новости, вы автоматически соглашаетесь с <a>условиями
                    обработки
                    персональных данных и правилами рекламных рассылок</a> </p>
        </div>
    </div>

    <div class="footer-center">
        <div class="footer-center__info">
            <p class="footer-center__info-title fs-20 fw-700">Компания «РумТибет»</p>
            <p class="footer-center__info-desc fs-14 fw-400">{{ loremIpsumFooter }}</p>

            <div class="contacts">
                <a type="emailto" class="email-footer">info@domain.com</a>
                <a class="phone-number">+7 (123) 456-78-90</a>
            </div>

            <div class="social-icons">
                <a href="" aria-label="Telegram">
                    <img src="images/icons-footer/telegram-icon.svg">
                </a>
                <a href="" aria-label="ВКонтакте">
                    <img src="images/icons-footer/vk-icon.svg">
                </a>
                <a href="" aria-label="Pinterest">
                    <img src="images/icons-footer/pinterest-icon.svg">
                </a>
                <a href="" aria-label="Skype">
                    <img src="images/icons-footer/skype-icon.svg">
                </a>
            </div>
        </div>

        <nav class="nav-services">
            <span class="nav-title fs-20 fw-700 line-height-120">Наши услуги</span>
            <a href="">Прогулки в горы летом</a>
            <a href="">Зимние походы в горы</a>
            <a href="">Посещение храмов в горах</a>
            <a href="">Экстремальные виды туризма</a>
            <a href="">Походы в джунглях Амазонии</a>
            <a href="">Поездка в Африку</a>
        </nav>

        <nav class="nav-for-travel">
            <span class="nav-title fs-20 fw-700 line-height-120">Важно для путешествий</span>
            <a href="">Как собрать в долгий поход?</a>
            <a href="">Жизненно важные предметы для похода</a>
            <a href="">Медицинская страховка, гарантии безопасности</a>
            <a href="">Если вы врач - загляните сюда</a>
        </nav>
    </div>

    <div class="footer-bottom">
        <div class="footer-bottom-wrapper">
            <span class="proprietor-company-name fs-14 fw-600">ИП Константинопольский К.К., 2023</span>
            <a href="">Политика обработки персональных данных</a>
        </div>
    </div>
</section>