<div class="create-form">
  <div>
    <label for="id"></label>
    <input type="text" id="id">
  </div>

  <div>
    <label for="name"></label>
    <input type="text" id="name">
  </div>

  <div>
    <label for="username"></label>
    <input type="text" id="username">
  </div>

  <div>
    <label for="email"></label>
    <input type="email" id="email">
  </div>

  <div>
    <label for="phone"></label>
    <input type="number" id="phone">
  </div>

  <div>
    <label for="website"></label>
    <input type="text" id="website">
  </div>

  <div>
    <label for="address-city"></label>
    <input type="text" id="address-city">
  </div>

  <div>
    <label for="address-street"></label>
    <input type="text" id="address-street">
  </div>

  <div>
    <label for="address-suite"></label>
    <input type="text" id="address-suite">
  </div>

  <div>
    <label for="address-zipcode"></label>
    <input type="text" id="address-zipcode">
  </div>

  <div>
    <label for="address-geo-lat"></label>
    <input type="text" id="address-geo-lat">
  </div>

  <div>
    <label for="address-geo-lng"></label>
    <input type="text" id="address-geo-lng">
  </div>

  <div>
    <label for="company-name"></label>
    <input type="text" id="company-name">
  </div>

  <div>
    <label for="company-catchPhrase"></label>
    <input type="text" id="company-catchPhrase">
  </div>

  <div>
    <label for="company-bs"></label>
    <input type="text" id="company-bs">
  </div>
</div>