@use '../assets/mixins' as *;

.loading-screen {
  position: relative;
  width: 100%;
  height: 100vh;
}

.loading-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  from {
    transform: rotate(360deg);
  }

  to {
    transform: rotate(0deg);
  }
}

.main-content-animated {
  animation: fadeInPage 0.8s ease-out forwards;
}

@keyframes fadeInPage {
  from {
    opacity: 0;
    transform: translateY(10px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.header {
  @include flex-center;

  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  width: 100%;
  height: 156px;
  background: rgba(24, 18, 30, 0.5);
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
  animation: fadeInPage 0.8s ease-out forwards;

  @keyframes fadeInPage {
    from {
      opacity: 0;
      transform: translateY(10px);
    }

    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
}

.controls-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.header-container {
  display: flex;
  justify-content: space-between;
  width: 1180px;
}

.header__widget {
  margin-top: 4px;
  width: auto;
  align-self: flex-end;

  &-timer {
    height: 24px;
    line-height: 25px;
    color: var(--white-color);
  }

  .timer-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 375px;
  }

  .click-counter-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 270px;

    .click-counter-wrapper {
      @include flex-center;

      justify-content: space-between;
      width: 63px;
      height: 24px;

      .increment-btn {
        line-height: 25px;
        color: var(--white-color);
        background-color: transparent;
        border: none;
        cursor: pointer;

        &:hover {
          filter: brightness(0.8);
        }

        &:active {
          transform: scale(0.7);
        }
      }

      .counter {
        color: var(--white-color);
      }

      .decrement-btn {
        line-height: 25px;
        color: var(--white-color);
        background-color: transparent;
        border: none;
        cursor: pointer;

        &:hover {
          filter: brightness(0.8);
        }

        &:active {
          transform: scale(0.7);
        }

        &:disabled {
          cursor: default;
          opacity: 0.3;
        }
      }
    }
  }

  .counter-show-btn {
    @include white-button;

    width: 157px;
    height: 44px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .timer-show-btn {
    @include white-button;

    width: 157px;
    height: 44px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
}

.logo-container {
  @include flex-center;

  flex-direction: column;
  width: 143px;
  height: 61px;

  .company-name {
    margin-top: 10px;
    width: 132px;
    height: 22px;
    font-style: normal;
    text-transform: uppercase;
    line-height: 22px;
    letter-spacing: 8px;
    color: var(--white-color);
  }

  .mountains-logo {
    height: 29px;
    width: 138px;
  }
}

.header-nav {
  @include flex-center;

  justify-content: space-between;
  width: 625px;
  color: var(--white-color);

  a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
  }
}

.consultation-button {
  @include flex-center;

  flex-direction: row;
  padding: 12px 24px;
  width: 158px;
  height: 44px;
  color: var(--green-color);
  background-color: var(--white-color);
  border-radius: 4px;
  border: 0;

  cursor: pointer;
  transition: all 0.2s ease-in-out;

  &:hover {
    filter: brightness(0.8);
  }

  &:active {
    transform: scale(0.9);
  }
}

.hero-container {
  @include flex-center;

  position: relative;
  width: 100%;
  height: 985px;
  background-image: url(/images/bg-images/bg-mountains.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.main-content-wrapper {
  position: absolute;
  top: 551px;
}

.live-input-container {
  min-width: 470px;
  height: 52px;
}

.live-input {
  background-image: url(/images/live-input-arrow.svg);
  background-repeat: no-repeat;
  background-position: 246px 17px;
  background-color: transparent;
  color: var(--white-color);
  box-sizing: border-box;
  margin-top: 15px;
  padding: 0px 16px 0px 12px;
  width: 270px;
  height: 52px;
  border: 1px solid #E1E3E4;
  border-radius: 8px;
}

.live-text {
  width: auto;
  color: var(--white-color);
  padding-left: 50px;
}

.description {
  margin: 0;
  margin-bottom: 41px;
  width: 1080px;
  height: 150px;
  line-height: 150%;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: var(--white-color);
}

.search-section {
  @include flex-center;

  width: 1180px;
  height: 161px;
  top: 742px;
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(3px);
  border-radius: 10px;
}

.search-form {
  display: flex;
  justify-content: space-between;
  width: 1095px;
  height: 81px;
}

.input-group {
  width: 270px;
  height: 81px;
  display: block;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;

  select,
  .input-wrapper {
    width: 270px;
    height: 52px;
    box-sizing: border-box;
    padding-left: 16px;
    position: relative;
    background: transparent;
    border: 1px solid #E1E3E4;
    border-radius: 8px;
    outline: none;
    color: var(--white-color);
    cursor: pointer;
    font-family: inherit;
    font-weight: 700;
    margin-bottom: 8px;
    appearance: none;

    &:disabled {
      cursor: default;
      opacity: 0.3;
    }
  }

  .date-container {
    position: relative;
    width: 270px;
    height: 52px;
    display: flex;
    align-items: center;
    margin-bottom: 8px;

    .date-input {
      width: 100%;
      height: 100%;
      padding: 0 16px;
      background: transparent;
      border: 1px solid #E1E3E4;
      border-radius: 8px;
      color: #fff;
      font-family: inherit;
      font-weight: 700;
      outline: none;
      cursor: pointer;
      appearance: none;
      -webkit-appearance: none;

      &:disabled {
        cursor: default;
        opacity: 0.3;

        &~.calendar-icon {
          cursor: default;
          opacity: 0.3;
        }

        &~.custom-placeholder {
          cursor: default;
          opacity: 0.3;
        }
      }

      &:not(:focus):not(:valid) {
        color: transparent;
      }

      &::-webkit-calendar-picker-indicator {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
        cursor: pointer;
        opacity: 0;
      }
    }

    .custom-placeholder {
      position: absolute;
      left: 16px;
      color: var(--white-color);
      font-weight: 700;
      pointer-events: none;
      transition: opacity 0.2s;
    }

    .date-input:focus+.custom-placeholder,
    .date-input:valid+.custom-placeholder {
      opacity: 0;
    }
  }

  .calendar-icon {
    position: absolute;
    right: 16px;
    width: 20px;
    height: 20px;
    pointer-events: none;
  }
}

option {
  color: #333333;
  background-color: #fff;
}

.input {
  position: relative;
  cursor: pointer;
}

.arrow-list {
  position: absolute;
  top: 22px;
  right: 22px;
}

.input-wrapper {
  @include flex-center;

  justify-content: space-between;
  padding-right: 17px;
}

.placeholder-input {
  width: 210px;
  height: 24px;
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
}

.calendarSVG {
  width: 18px;
  height: 18px;
}

.input-desc {
  align-items: flex-start;
  padding: 0px 8px;
  width: 270px;
  height: 21px;
  align-self: stretch;
  color: var(--white-color);
}

.search-programm-button {
  @include flex-center;
  @include green-button;

  width: 213px;
  height: 52px;

  &:disabled {
    cursor: default;
    opacity: 0.5;
  }
}

.history {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 100px auto;
  max-width: 1180px;
  height: 526px;
}

.media-container {
  position: relative;
  width: 480px;
  height: 526px;
  box-sizing: border-box;

  &__image {
    width: 350px;
    height: 400px;
    left: 0px;
    top: 0px;
    border-radius: 24px;
  }

  &__video {
    position: absolute;
    width: 350px;
    height: 400px;
    left: 130px;
    top: 126px;
  }

  .play-button {
    position: absolute;
    @include flex-center;
    width: 50px;
    height: 50px;
    left: 280px;
    top: 301px;
    border: none;
    background-color: rgba(256, 256, 256, 0.6);
    border-radius: 100px;
    cursor: pointer;

    &:hover {
      filter: brightness(0.8);
    }

    &:active {
      transform: scale(0.9);
    }
  }
}

.description-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  width: 580px;
  height: 398px;

  .history-title {
    margin: 0;
    color: var(--yellow-color);
    line-height: 20px;
  }

  .history-subtitle {
    margin: 8px 0 40px;
  }

  .history-desc {
    margin: 0 0 40px;
  }

  .program-tour-button {
    @include flex-center;
    @include green-button;

    width: 200px;
    height: 52px;
  }
}

.programs {
  @include flex-center;

  width: 100%;
  height: 771px;
  top: 1711px;
  background-color: var(--gray-color);

  &-wrapper {
    display: flex;
    max-width: 1180px;
  }

  .offer-title {
    margin: 0;
    color: var(--yellow-color);
    line-height: 20px;
  }

  .data-title {
    margin: 8px 0 40px;
  }

  .data-description {
    width: 580px;
    height: 81px;
    margin-bottom: 40px;
    color: var(--primary-color);
  }

  .offer-list {
    width: 580px;
    height: 591px;
    line-height: 20px;

    .feature-item {
      display: flex;
      flex-direction: row;
      align-items: center;
      margin: 0 0 40px;
      padding: 0px;
      gap: 16px;
      width: 580px;
      height: 64px;
    }

    .feature-title {
      margin: 0 0 4px 0;
      height: 20px;
      line-height: 20px;
      letter-spacing: 0.012em;
      color: var(--primary-color);
    }

    .feature-description {
      margin: 0;
      width: 514px;
      height: 40px;
      line-height: 20px;
      color: #000000;
      flex: none;
      order: 1;
      align-self: stretch;
      flex-grow: 0;
    }
  }

  .price-program-button {
    @include flex-center;
    @include green-button;
    width: 236px;
    height: 52px;
  }

  .tour-images-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 510px;
    height: 510px;
    margin: 40px 0 41px 90px;
    gap: 10px;
  }

  .box:hover {
    transform: scale(1.2);
  }
}

.popular-destinations {
  @include flex-center;

  flex-direction: column;
  height: 893px;
  gap: 50px;

  &-title-wrapper {
    @include flex-center;

    flex-direction: column;
    margin-top: 80px;
    height: 66px;
    gap: 8px;

    .pre-title {
      margin: 0;
      color: var(--yellow-color);
      line-height: 20px;
    }

    .destinations-title {
      margin: 0;
    }
  }

  .destinations-container {
    @include flex-center;

    height: 500px;
    width: 1180px;
    gap: 20px;

    .destination {
      position: relative;


      .popular-destinations-img {
        width: 380px;
        height: 500px;
      }

      &-rating-wrapper {
        @include flex-center;

        position: absolute;
        width: 65px;
        height: 32px;
        top: 50px;
        right: 0;
        padding: 4px 8px;
        gap: 8px;
        background: rgba(253, 253, 253, 0.4);
        backdrop-filter: blur(2px);
        border-radius: 4px 0px 0px 4px;
      }

      &-rating {
        color: var(--green-color);
        line-height: 18px;
      }

      .popular-destinations-description-container {
        position: absolute;
        height: 90px;
        width: 380px;
        top: 410px;
        gap: 35px;
        background: rgba(255, 255, 255, 0.2);
        backdrop-filter: blur(3px);
        border-radius: 0px 0px 32px 32px;

        .popular-destinations-description-wrapper {
          @include flex-center;
          justify-content: space-between;
          padding: 20px 32px 23px 32px;

          .destination-title {
            margin: 0;
            color: var(--white-color);
          }

          .destination-desc {
            margin: 0;
            line-height: 18px;
            color: var(--white-color);
          }

          .destination-price {
            line-height: 24px;
            color: var(--white-color);
            padding: 8px 16px;
            background: rgba(255, 255, 255, 0.3);
            border-radius: 4px;
          }
        }

      }
    }
  }

  .destination-rating-btn {
    @include green-button;

    width: 244px;
    height: 52px;
  }
}

.travel-blog {
  width: 100%;
  height: 1036px;
  background-color: var(--gray-color);
  margin-top: 95px;

  &-container {
    @include flex-center;
    flex-direction: column;

    .other-materials-btn {
      @include flex-center;
      @include green-button;

      width: 220px;
      height: 52px;
      line-height: 20px;
      margin-top: 50px;
    }

    .travel-blog-title-wrapper {
      @include flex-center;

      flex-direction: column;
      width: 580px;
      height: 66px;
      gap: 8px;
      margin-top: 85px;

      .pre-title-blog {
        color: var(--yellow-color);
        line-height: 20px;
        margin: 0;
      }

      .title-blog {
        margin: 0;
      }
    }
  }

  .travel-cards-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 1180px;
    height: 648px;
    gap: 20px 24px;
    margin-top: 40px;

    .box:hover {
      transform: scale(1.2);
    }

    .travel-card {
      @include flex-center;

      position: relative;
      justify-content: space-around;
      width: 580px;
      height: 312px;
      background-color: var(--white-color);
      border-radius: 10px;


      &-img {
        height: 280px;
        border-radius: 6px;
      }

      .desc-card-wrapper {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 24px;
        width: 294px;
        height: 280px;
        flex: none;

        .card-title {
          line-height: 32px;
          margin-top: 16px;
        }

        .card-desc {
          width: 294px;
          height: 116px;
          line-height: 20px;
          color: var(--primary-color);
        }

        .data-card {
          position: absolute;
          bottom: 32px;
          width: 76px;
          height: 20px;
          line-height: 20px;
          color: var(--yellow-color);
        }
      }

      .read-article-btn {
        position: absolute;

        line-height: 20px;
        color: var(--green-color);
        background: none;
        right: 16px;
        bottom: 32px;
        border: none;
        cursor: pointer;

        &:hover {
          filter: brightness(0.5);
        }

        &:active {
          transform: scale(0.9);
        }
      }
    }
  }
}

.photo-report-container {
  height: 1011px;

  .photo-report-wrapper {
    @include flex-center;

    flex-direction: column;
    height: 728px;
    margin-top: 85px;

    .title-photo-wrapper {
      @include flex-center;

      flex-direction: column;
      height: 66px;
      gap: 8px;

      .pre-title-photo {
        color: var(--yellow-color);
        line-height: 20px;
      }
    }

    .photo-container {
      display: flex;
      flex-wrap: wrap;
      width: 1180px;
      height: 520px;
      gap: 20px;
      margin-top: 40px;
    }

    .our-pinterest-btn {
      @include flex-center;
      @include green-button;

      width: 178px;
      height: 52px;
      margin-top: 50px;
    }
  }
}

.footer {
  @include flex-center;


  position: relative;
  width: 100%;
  height: 587px;
  background-color: var(--green-color);

  &-top {
    display: flex;
    height: 196px;
    width: 1180px;
    position: absolute;
    justify-content: space-between;
    top: -98px;
    box-sizing: border-box;
    padding: 40px 100px;
    background-color: var(--white-color);
    box-shadow: 0px 0px 15px rgba(24, 18, 30, 0.12);
    border-radius: 6px;

    &__title-wrapper {
      display: flex;
      flex-direction: column;
      gap: 8px;
      width: 380px;
      height: 90px;

      &-pre-title {
        color: var(--yellow-color);
        line-height: 20px;
      }
    }

    &__right {
      display: flex;
      flex-direction: column;

      .form-wrapper {
        display: flex;
        align-items: end;
        gap: 16px;

        .footer-top__subscribe {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          width: 280px;
          height: 72px;

          #email-input {
            box-sizing: border-box;
            padding: 0px 16px;
            width: 280px;
            height: 44px;
            background-color: var(--gray-color);
            border-radius: 4px;
            border: none;
          }
        }

        .subscribe-btn {
          @include green-button;

          padding: 12px 24px;
          gap: 10px;
          width: 240px;
          height: 44px;
        }
      }


      .conditions {
        width: 536px;
        height: 36px;
        line-height: 18px;
        margin-top: 8px;
        color: var(--primary-color);

        a {
          text-decoration-line: underline;
          cursor: pointer;
        }
      }
    }
  }

  .footer-center {
    display: flex;
    justify-content: space-between;
    width: 1180px;

    &__info {
      display: flex;
      flex-direction: column;
      width: 480px;
      height: 263px;

      &-title {
        width: 480px;
        height: 24px;
        line-height: 24px;
        color: var(--gray-color);
        margin-bottom: 17px;
      }

      &-desc {
        width: 456px;
        height: 60px;
        line-height: 20px;
        color: var(--white-color);
        margin-bottom: 80px;
      }

      .contacts {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        gap: 24px;
        width: 480px;
        height: 18px;
        margin-bottom: 32px;

        .email-footer {
          line-height: 18px;
          text-decoration-line: underline;
          color: var(--white-color);
          cursor: pointer;
        }

        .phone-number {
          line-height: 18px;
          text-decoration-line: underline;
          color: var(--white-color);
          cursor: pointer;
        }
      }

      .social-icons {
        display: flex;
        gap: 16px;
        width: 176px;
        height: 32px;
      }
    }

    .nav-services {
      display: flex;
      flex-direction: column;
      width: 280px;
      height: 232px;
      gap: 16px;
      padding-right: 120px;


      a {
        display: flex;
        flex-direction: column;
        background-image: url(/images/icons-footer/arrow-right.svg);
        background-repeat: no-repeat;
        width: 280px;
        height: 18px;
        font-weight: 400;
        font-size: 14px;
        line-height: 18px;
        color: var(--gray-color);
        text-decoration: none;
        padding-left: 18px;
      }
    }

    .nav-for-travel {
      display: flex;
      flex-direction: column;
      width: 280px;
      height: 232px;
      gap: 16px;

      a {
        display: inline-block;
        flex-direction: column;
        background-image: url(/images/icons-footer/arrow-right.svg);
        background-repeat: no-repeat;
        height: 36px;
        font-weight: 400;
        font-size: 14px;
        line-height: 18px;
        color: var(--gray-color);
        text-decoration: none;
        padding-left: 18px;
      }
    }

    .nav-title {
      height: 24px;
      color: var(--gray-color);
      padding-bottom: 4px;
    }
  }

  .footer-bottom {
    @include flex-center;

    position: absolute;
    justify-content: center;
    bottom: 0;
    width: 100%;
    height: 66px;
    background: #18121E;

    .footer-bottom-wrapper {
      display: flex;
      justify-content: space-between;
      width: 1180px;
      height: 18px;

      .proprietor-company-name {
        line-height: 18px;
        color: var(--white-color);
      }

      a {
        color: var(--white-color);
      }
    }
  }
}