@use '../assets/mixins' as *;

.header {
  @include flex-center;

  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  height: 120px;
  background: rgba(24, 18, 30, 0.5);
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
}

.header-container {
  @include flex-center;

  width: 1180px;
  padding: 10px;
  justify-content: space-between;
}

.logo-container {
  @include flex-center;

  flex-direction: column;
  width: 143px;
  height: 61px;

  .company-name {
    margin-top: 10px;
    width: 132px;
    height: 22px;
    font-style: normal;
    text-transform: uppercase;
    line-height: 22px;
    letter-spacing: 8px;
    color: var(--white-color);
  }

  .mountains-logo {
    height: 29px;
    width: 138px;
  }
}

.header-nav {
  @include flex-center;

  justify-content: space-between;
  width: 625px;
  color: var(--white-color);

  a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
  }
}

.consultation-button {
  @include flex-center;

  flex-direction: row;
  padding: 12px 24px;
  width: 158px;
  height: 44px;
  color: var(--green-color);
  background-color: var(--white-color);
  border-radius: 4px;
  border: 0;

  cursor: pointer;
  transition: all 0.2s ease-in-out;

  &:hover {
    filter: brightness(0.8);
  }

  &:active {
    transform: scale(0.9);
  }
}

.hero-container {
  @include flex-center;

  position: relative;
  width: 100%;
  height: 985px;
  background-image: url(/images/bg-images/bg-mountains.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.main-content-wrapper {
  position: absolute;
  top: 551px;
}

.description {
  margin: 0;
  margin-bottom: 41px;
  width: 1080px;
  height: 150px;
  line-height: 150%;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: var(--white-color);
}

.search-section {
  @include flex-center;

  width: 1180px;
  height: 161px;
  top: 742px;
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(3px);
  border-radius: 10px;
}

.search-form {
  display: flex;
  justify-content: space-between;
  width: 1095px;
  height: 81px;
}

.input-group {
  width: 270px;
  height: 81px;
  display: block;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;

  select,
  .input-wrapper {
    width: 270px;
    height: 52px;
    box-sizing: border-box;
    padding-left: 16px;
    position: relative;
    background: transparent;
    border: 1px solid #E1E3E4;
    border-radius: 8px;
    outline: none;
    color: var(--white-color);
    cursor: pointer;
    font-family: inherit;
    font-weight: 700;
    margin-bottom: 8px;
    appearance: none;
  }

  option {
    color: #333333;
    background-color: #fff;
  }
}

.input {
  position: relative;
  cursor: pointer;
}

.arrow-list {
  position: absolute;
  top: 22px;
  right: 22px;
}


.input-wrapper {
  @include flex-center;

  justify-content: space-between;
  padding-right: 17px;
}

.placeholder-input {
  width: 210px;
  height: 24px;
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
}

.calendarSVG {
  width: 18px;
  height: 18px;
}

.input-desc {
  align-items: flex-start;
  padding: 0px 8px;
  width: 270px;
  height: 21px;
  align-self: stretch;
  color: var(--white-color);
}

.search-programm-button {
  @include flex-center;
  @include green-button;

  width: 213px;
  height: 52px;
}

.history {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 100px auto;
  max-width: 1180px;
  height: 526px;
}


.media-container {
  position: relative;
  width: 480px;
  height: 526px;
  box-sizing: border-box;

  &__image {
    width: 350px;
    height: 400px;
    left: 0px;
    top: 0px;
    border-radius: 24px;
  }

  &__video {
    position: absolute;
    width: 350px;
    height: 400px;
    left: 130px;
    top: 126px;
  }

  .play-button {
    position: absolute;
    @include flex-center;
    width: 50px;
    height: 50px;
    left: 280px;
    top: 301px;
    border: none;
    background-color: rgba(256, 256, 256, 0.6);
    border-radius: 100px;
    cursor: pointer;

    &:hover {
      filter: brightness(0.8);
    }

    &:active {
      transform: scale(0.9);
    }
  }
}

.description-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  width: 580px;
  height: 398px;

  .history-title {
    margin: 0;
    color: var(--yellow-color);
    line-height: 20px;
  }

  .history-subtitle {
    margin: 8px 0 40px;
  }

  .history-desc {
    margin: 0 0 40px;
  }

  .program-tour-button {
    @include flex-center;
    @include green-button;

    width: 200px;
    height: 52px;
  }
}

.programs {
  @include flex-center;

  width: 100%;
  height: 771px;
  top: 1711px;
  background-color: var(--gray-color);

  &-wrapper {
    max-width: 1180px;
  }

  .offer-title {
    margin: 0;
    color: var(--yellow-color);
    line-height: 20px;
  }

  .data-title {
    margin: 8px 0 40px;
  }

  .data-description {
    width: 580px;
    height: 81px;
    margin-bottom: 40px;
    color: var(--primary-color);
  }

  .offer-list {
    width: 580px;
    height: 591px;
    line-height: 20px;

    .feature-item {
      display: flex;
      flex-direction: row;
      align-items: center;
      margin: 0 0 40px;
      padding: 0px;
      gap: 16px;
      width: 580px;
      height: 64px;
    }

    .feature-title {
      margin: 0 0 4px 0;
      height: 20px;
      line-height: 20px;
      letter-spacing: 0.012em;
      color: var(--primary-color);
    }

    .feature-description {
      margin: 0;
      width: 514px;
      height: 40px;
      line-height: 20px;
      color: #000000;
      flex: none;
      order: 1;
      align-self: stretch;
      flex-grow: 0;
    }
  }

  .price-program-button {
    @include flex-center;
    @include green-button;
    width: 236px;
    height: 52px;
  }
}