@use '../assets/mixins' as *;

.loading-screen {
  position: relative;
  width: 100%;
  height: 100vh;
}

.loading-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  from {
    transform: rotate(360deg);
  }

  to {
    transform: rotate(0deg);
  }
}

.main-content-animated {
  animation: fadeInPage 0.8s ease-out forwards;
}

@keyframes fadeInPage {
  from {
    opacity: 0;
    transform: translateY(10px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.header {
  @include flex-center;

  position: fixed;
  flex-direction: column;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  height: 156px;
  background: rgba(24, 18, 30, 0.5);
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);

}

.controls-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.header-container {
  display: flex;
  justify-content: space-between;
  width: 1180px;
}

.header__widget {
  margin-top: 4px;
  width: auto;
  align-self: flex-end;

  &-timer {
    height: 24px;
    line-height: 25px;
    color: var(--white-color);
  }

  .timer-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 375px;
  }

  .click-counter-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 270px;

    .click-counter-wrapper {
      @include flex-center;

      justify-content: space-between;
      width: 63px;
      height: 24px;

      .increment-btn {
        line-height: 25px;
        color: var(--white-color);
        background-color: transparent;
        border: none;
        cursor: pointer;

        &:hover {
          filter: brightness(0.8);
        }

        &:active {
          transform: scale(0.7);
        }
      }

      .counter {
        color: var(--white-color);
      }

      .decrement-btn {
        line-height: 25px;
        color: var(--white-color);
        background-color: transparent;
        border: none;
        cursor: pointer;

        &:hover {
          filter: brightness(0.8);
        }

        &:active {
          transform: scale(0.7);
        }

        &:disabled {
          cursor: default;
          opacity: 0.3;
        }
      }
    }
  }

  .counter-show-btn {
    @include white-button;

    width: 157px;
    height: 44px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .timer-show-btn {
    @include white-button;

    width: 157px;
    height: 44px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
}

.logo-container {
  @include flex-center;

  flex-direction: column;
  width: 143px;
  height: 61px;

  .company-name {
    margin-top: 10px;
    width: 132px;
    height: 22px;
    font-style: normal;
    text-transform: uppercase;
    line-height: 22px;
    letter-spacing: 8px;
    color: var(--white-color);
  }

  .mountains-logo {
    height: 29px;
    width: 138px;
  }
}

.header-nav {
  @include flex-center;

  justify-content: space-between;
  width: 625px;
  color: var(--white-color);

  a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
  }
}

.consultation-button {
  @include flex-center;

  flex-direction: row;
  padding: 12px 24px;
  width: 158px;
  height: 44px;
  color: var(--green-color);
  background-color: var(--white-color);
  border-radius: 4px;
  border: 0;

  cursor: pointer;
  transition: all 0.2s ease-in-out;

  &:hover {
    filter: brightness(0.8);
  }

  &:active {
    transform: scale(0.9);
  }
}

.hero-container {
  @include flex-center;

  position: relative;
  width: 100%;
  height: 985px;
  background-image: url(/images/bg-images/bg-mountains.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.main-content-wrapper {
  position: absolute;
  top: 551px;
}

.live-input-container {
  min-width: 470px;
  height: 52px;
}

.live-input {
  background-image: url(/images/live-input-arrow.svg);
  background-repeat: no-repeat;
  background-position: 246px 17px;
  background-color: transparent;
  color: var(--white-color);
  box-sizing: border-box;
  margin-top: 15px;
  padding: 0px 16px 0px 12px;
  width: 270px;
  height: 52px;
  border: 1px solid #E1E3E4;
  border-radius: 8px;
}

.live-text {
  width: auto;
  color: var(--white-color);
  padding-left: 50px;
}

.description {
  margin: 0;
  margin-bottom: 41px;
  width: 1080px;
  height: 150px;
  line-height: 150%;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: var(--white-color);
}

.search-section {
  @include flex-center;

  width: 1180px;
  height: 161px;
  top: 742px;
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(3px);
  border-radius: 10px;
}

.search-form {
  display: flex;
  justify-content: space-between;
  width: 1095px;
  height: 81px;
}

.input-group {
  width: 270px;
  height: 81px;
  display: block;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;

  select,
  .input-wrapper {
    width: 270px;
    height: 52px;
    box-sizing: border-box;
    padding-left: 16px;
    position: relative;
    background: transparent;
    border: 1px solid #E1E3E4;
    border-radius: 8px;
    outline: none;
    color: var(--white-color);
    cursor: pointer;
    font-family: inherit;
    font-weight: 700;
    margin-bottom: 8px;
    appearance: none;

    &:disabled {
      cursor: default;
      opacity: 0.3;
    }
  }

  .date-container {
    position: relative;
    width: 270px;
    height: 52px;
    display: flex;
    align-items: center;
    margin-bottom: 8px;

    .date-input {
      width: 100%;
      height: 100%;
      padding: 0 16px;
      background: transparent;
      border: 1px solid #E1E3E4;
      border-radius: 8px;
      color: #fff;
      font-family: inherit;
      font-weight: 700;
      outline: none;
      cursor: pointer;
      appearance: none;
      -webkit-appearance: none;

      &:disabled {
        cursor: default;
        opacity: 0.3;

        &~.calendar-icon {
          cursor: default;
          opacity: 0.3;
        }

        &~.custom-placeholder {
          cursor: default;
          opacity: 0.3;
        }
      }

      &:not(:focus):not(:valid) {
        color: transparent;
      }

      &::-webkit-calendar-picker-indicator {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
        cursor: pointer;
        opacity: 0;
      }
    }

    .custom-placeholder {
      position: absolute;
      left: 16px;
      color: var(--white-color);
      font-weight: 700;
      pointer-events: none;
      transition: opacity 0.2s;
    }

    .date-input:focus+.custom-placeholder,
    .date-input:valid+.custom-placeholder {
      opacity: 0;
    }
  }

  .calendar-icon {
    position: absolute;
    right: 16px;
    width: 20px;
    height: 20px;
    pointer-events: none;
  }
}

option {
  color: #333333;
  background-color: #fff;
}

.input {
  position: relative;
  cursor: pointer;
}

.arrow-list {
  position: absolute;
  top: 22px;
  right: 22px;
}

.input-wrapper {
  @include flex-center;

  justify-content: space-between;
  padding-right: 17px;
}

.placeholder-input {
  width: 210px;
  height: 24px;
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
}

.calendarSVG {
  width: 18px;
  height: 18px;
}

.input-desc {
  align-items: flex-start;
  padding: 0px 8px;
  width: 270px;
  height: 21px;
  align-self: stretch;
  color: var(--white-color);
}

.search-programm-button {
  @include flex-center;
  @include green-button;

  width: 213px;
  height: 52px;
}

.history {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 100px auto;
  max-width: 1180px;
  height: 526px;
}

.media-container {
  position: relative;
  width: 480px;
  height: 526px;
  box-sizing: border-box;

  &__image {
    width: 350px;
    height: 400px;
    left: 0px;
    top: 0px;
    border-radius: 24px;
  }

  &__video {
    position: absolute;
    width: 350px;
    height: 400px;
    left: 130px;
    top: 126px;
  }

  .play-button {
    position: absolute;
    @include flex-center;
    width: 50px;
    height: 50px;
    left: 280px;
    top: 301px;
    border: none;
    background-color: rgba(256, 256, 256, 0.6);
    border-radius: 100px;
    cursor: pointer;

    &:hover {
      filter: brightness(0.8);
    }

    &:active {
      transform: scale(0.9);
    }
  }
}

.description-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  width: 580px;
  height: 398px;

  .history-title {
    margin: 0;
    color: var(--yellow-color);
    line-height: 20px;
  }

  .history-subtitle {
    margin: 8px 0 40px;
  }

  .history-desc {
    margin: 0 0 40px;
  }

  .program-tour-button {
    @include flex-center;
    @include green-button;

    width: 200px;
    height: 52px;
  }
}

.programs {
  @include flex-center;

  width: 100%;
  height: 771px;
  top: 1711px;
  background-color: var(--gray-color);

  &-wrapper {
    display: flex;
    max-width: 1180px;
  }

  .offer-title {
    margin: 0;
    color: var(--yellow-color);
    line-height: 20px;
  }

  .data-title {
    margin: 8px 0 40px;
  }

  .data-description {
    width: 580px;
    height: 81px;
    margin-bottom: 40px;
    color: var(--primary-color);
  }

  .offer-list {
    width: 580px;
    height: 591px;
    line-height: 20px;

    .feature-item {
      display: flex;
      flex-direction: row;
      align-items: center;
      margin: 0 0 40px;
      padding: 0px;
      gap: 16px;
      width: 580px;
      height: 64px;
    }

    .feature-title {
      margin: 0 0 4px 0;
      height: 20px;
      line-height: 20px;
      letter-spacing: 0.012em;
      color: var(--primary-color);
    }

    .feature-description {
      margin: 0;
      width: 514px;
      height: 40px;
      line-height: 20px;
      color: #000000;
      flex: none;
      order: 1;
      align-self: stretch;
      flex-grow: 0;
    }
  }

  .price-program-button {
    @include flex-center;
    @include green-button;
    width: 236px;
    height: 52px;
  }

  .tour-images-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 510px;
    height: 510px;
    margin: 40px 0 41px 90px;
    gap: 10px;
  }

  .box:hover {
    transform: scale(1.2);
  }
}