@use './fonts';
@use './_normalize.scss';
@use '../assets/mixins' as *;

* {
  font-family: 'Nunito Sans';
}

.container {
  display: block;
  width: 100%;
}

:root {
  --primary-color: #18121E;
  --white-color: #fff;
  --green-color: #1A3E3E;
  --yellow-color: #F2BE22;
  --gray-color: #F3F5F4;
}

p,
h2 {
  margin: 0;
}

.fs-14 {
  font-size: 14px;
}

.fs-16 {
  font-size: 16px;
}

.fs-18 {
  font-size: 18px;
}

.fs-20 {
  font-size: 20px;
}

.fs-24 {
  font-size: 24px;
}

.fs-26 {
  font-size: 26px;
}

.fs-32 {
  font-size: 32px;
}

.fs-50 {
  font-size: 50px;
}

.fw-400 {
  font-weight: 400;
}

.fw-600 {
  font-weight: 600;
}

.fw-700 {
  font-weight: 700;
}

.fw-800 {
  font-weight: 800;
}

.line-height-150 {
  line-height: 150%;
}

.line-height-120 {
  line-height: 120%;
}

.scale {
  width: 250px;
  transition: 0.3s;
}

.scale:hover {
  transform: scale(1.1);
}

.card {
  transition: box-shadow 0.3s ease;
}

.card:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.card:hover .card-title {
  text-decoration-line: underline;
  color: #1A3E3E;
}