@use './fonts';
@use './_normalize.scss';
@use '../assets/mixins' as *;

* {
  font-family: 'Nunito Sans';
}

.container {
  display: block;
  width: 100%;
}

:root {
  --primary-color: #18121E;
  --white-color: #fff;
  --green-color: #1A3E3E;
  --yellow-color: #F2BE22;
  --gray-color: #F3F5F4;
}

.fs-14 {
  font-size: 14px;
}

.fs-16 {
  font-size: 16px;
}

.fs-18 {
  font-size: 18px;
}

.fs-24 {
  font-size: 24px;
}

.fs-32 {
  font-size: 32px;
}

.fs-50 {
  font-size: 50px;
}

.fw-400 {
  font-weight: 400;
}

.fw-700 {
  font-weight: 700;
}

.fw-800 {
  font-weight: 800;
}

.line-height-150 {
  line-height: 150%;
}

.line-height-120 {
  line-height: 120%;
}

.scale {
  width: 250px;
  transition: 0.3s;
}

.scale:hover {
  transform: scale(1.1);
}